<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Djugglr</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <script src="{{ STATIC_URL }}js/bundle.js"></script>
    </head>
    <body>
        <div id="react-app">
            {% load react_components %}
            {% react_component module props %}
        </div>

        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/react-bootstrap.min.js'></script>

        <script>
        require('react').render(require('{{ module }}')({{ props|safe }}), document.getElementById('react-app'));
        </script>
    </body>

</html>
