body {
    color: white;
    background: #2c3e50;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
    color: #fff;
}

.djugglr-posts {
    padding: 0 px;
}

.djugglr-post {
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 20px;
    color: #2c3e50;
    background: white;
    box-shadow: 0 3px 0 #eee;
}

.djugglr-post-title {
    font-weight: bold;
    font-style: normal;
    font-size: 110%;
    display: inline-block;
    margin-top: 0px;
    margin-right: 5px;
    color: #1abc9c;
}

.djugglr-post-timestamp {
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    padding-top: 20px;
    padding-right: 20px;
    color: #9197a3;
}

.djugglr-post-image {
    padding-bottom: 20px;
}

.bio {
    color: rgba(240, 245, 250, 0.6);
}

address {
    color: rgba(240, 245, 250, 0.6);
}

address a {
    text-decoration: none;
    color: rgba(240, 245, 250, 0.6);
}
